body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TabContainer {
    margin-top: 5rem;
}

.controlpanel {
    


    background-color: rgb(244, 241, 241);
    
    margin: 1rem;
    margin-bottom: -2rem;
    border-radius: 10px;
    padding: 1rem;

    padding-top: 0.5rem;
    padding-bottom: 1.2rem;
    padding-right: 8rem;
    display: flex;

    box-shadow: 2px 2px 6px #0e0d0d;
    

}

.red, .yellow, .green {
    padding: 0.5rem;
    box-shadow: 2px 2px 5px #474141;
    border-radius: 100%;
    margin: 0.2rem;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.headerContent {
    background-color: white;
    margin: 1rem;
    padding: 8rem;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 2px 2px 5px #0e0d0d;
}   

.headerContent h1 {
    font-size: 3rem;
    padding-bottom: 0.2rem;
}
.headerContent p {
    font-size: 2rem;
}

.headerContent button {
    padding: 0.5rem;
    font-size: 1rem;
    width: 6rem;
}


/* Screen Sizes Stuff */

@media (max-width: 600px) {
    .controlpanel {
        padding: 0.5rem;
        padding-bottom: 1.2rem;
    }

    .headerContent {
        padding: 3rem;
    }

    .headerContent h1 {
        font-size: 1.8rem;
    }

    .headerContent p {
        font-size: 1rem;
    }

    .red, .yellow, .green {
        padding: 0.5rem;
        box-shadow: 2px 2px 5px #474141;
        border-radius: 100%;
        margin: 0.2rem;
    }

}

@media (max-width: 400px) {
    .controlpanel {
        padding: 0.5rem;
        padding-bottom: 1.4rem;
    }

    .headerContent {
        padding: 2rem;
    }

    .headerContent h1 {
        font-size: 1.5rem;
    }

    .headerContent p {
        font-size: 1rem;
    }

}